
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Main.css" rel="stylesheet" />
    <title>AboutUs</title>
</head>
<body>
    <form action="/Default/AboutUS" method="post">
        <div class="Block">
            <p>
                <label> Name</label>
                <input type="text" name="Name" />
            </p>
            <br />
            <p>
                <label> Message</label>
                <textarea name="Name" />
            </p>
        </div>
        <input type="submit" value="Send" />
    </form>
</body>
</html>
