
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCar</title>
</head>
<body>
    <div class="Block">
        <form method="post" action="/Default/AddCar">
            <p>Name :</p> <input name="Name" type="text" />
            <p>Model :</p> <input name="Model" type="text" />
            <p>Age :</p> <input name="Age" type="number" />
            <button type="submit" value="Submit"></button>
        </form>
    </div>
</body>
</html>
