@model IEnumerable<Cars.Models.Entity.Car>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListCar</title>
</head>
<body>
    <div class="Block">
        @foreach (var item in Model)
        {
            <p>@item.Name  @item.Model  @item.Age </p>
        }

        <a href="Default/AddCar">Add New Car</a>
    </div>
</body>
</html>
