
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Main.css" rel="stylesheet" />
    <title>ShowMessage</title>
</head>
<body>
    <div class="Block">
        @ViewBag.ShowMessage
    </div>
</body>
</html>
